doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='./')
      p Inicio
    br
    a(href='/hola')
      p habla
    br
    a(href='/adios')
      p nos vemos

    block content
